{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    <div id="error"></div>

    {{with .Event}}
    <section
        class="event_details"
    >
        <h3>{{.Name}}</h3>

        <div 
            class="field"
            x-data="{ start: dayjs('{{.Event.Start}}').format('ddd, MMM DD h:mm A') }"
        >
            <img class="feather" src="/public/icons/calendar.svg" />
            <span x-text="start"></span>
        </div>
        <div class="field">
            <img class="feather" src="/public/icons/map-pin.svg" />
            <span>{{.Location}}</span>
        </div>
        <div class="register">
            <form>
                <input type="hidden" name="id" value="{{.Id}}" />
                {{if .EventResponse.Going}} 
                <input type="hidden" name="going" value="false" />
                {{else}}
                <input type="hidden" name="going" value="true" />
                {{end}}

                <button 
                    id="event_details_register"
                    hx-post="/event/respond"
                    hx-target="body"
                    {{if and (le .SpotsLeft 0) (not .EventResponse.Going)}}disabled{{end}}
                >
                    {{if .EventResponse.Going}} 
                    Going
                    {{else}}
                    Not going
                    {{end}}
                </button>
            </form>

            <div>{{.SpotsLeft}} spots left</div>
        </div>
    </section>
    <section class="event_attendees">
        <h5>Attendees ({{len .EventResponses}})</h5>

        {{if gt (len .EventResponses) (0)}}
        <article>
            <table>
            {{range .EventResponses}}
                <tr><td>{{.User.FullName}}</td></tr>
            {{end}}
            </table>
        </article>
        {{end}}
    </section>
    <section>
        <h5>Admin tools</h5>

        <span
            class="delete"
            hx-push-url="true"
            hx-target="body"
            hx-delete="/event/{{.Id}}"
        >
            Delete
        </span>
    </section>
    {{end}}
</main>
{{end}}
