{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    <div id="error"></div>
    
    <div class="page_header">
        <h3>{{.Event.Name}}</h3>
        <div class="buttons">
            {{if .User.CanModifyEvent}}
            <a href="/event/{{.Event.Id}}/edit" role="button">Edit</a>
            {{end}}
        </div>
    </div>

    <section
        class="event_details"
    >
        <p>
            <span>Hosted by <strong>{{.Event.CreatorFullName}}</strong><span>
            {{if .Event.GroupId.Valid}}
            <span> in <a href="/group/{{.Event.GroupId.String}}">{{.Event.GroupName.String}}</a></span>
            {{end}}
        </p>
        <div 
            class="field"
            x-data="{ start: formatTime('{{jsTime .Event.Start}}') }"
        >
            <img class="feather" src="/public/icons/calendar.svg" />
            <span x-text="start"></span>
            {{if .Event.IsPast}}
            <strong>(Past)</strong>
            {{end}}
        </div>
        <div class="field">
            <img class="feather" src="/public/icons/map-pin.svg" />
            <span>{{.Event.Location}}</span>
        </div>
        <div class="field">
            <img class="feather" src="/public/icons/users.svg" />
            <span>{{.Event.Capacity}} spots · {{.Event.SpotsLeft}} left</span>
        </div>

        {{if not .Event.IsPast}}
            {{template "event-details-register" .}}
        {{end}}
    </section>
    <section class="event_attendees">
        <h5>Attendees ({{.Event.TotalAttendeeCount}})</h5>

        {{if gt (len .Event.Responses) (0)}}
        <article>
            <table>
            {{range $i, $r := .Event.Responses}}
                <tr 
                    class="
                    {{if $r.OnWaitlist}}waitlist{{end}}
                    "
                >
                    <td>{{add $i 1}}</td>
                    <td>
                        <div>
                            <span>{{$r.UserFullName}}</span>

                            {{if gt $r.AttendeeCount 1}}
                            <span>
                             (+{{$r.PlusOnes}})
                            </span>
                            {{end}}

                            {{if eq $r.UserId $.User.Id}}
                            <span>
                                <strong>(me)</strong>
                            </span>
                            {{end}}
                        </div>
                        <div>
                            {{if $r.OnWaitlist}}
                            Waitlist
                            {{end}}
                        </div>
                    </td>
                </tr>
            {{end}}
            </table>
        </article>
        {{end}}
    </section>
</main>
{{end}}

{{define "event-details-register"}}
<div class="register">
    <form>
        <input type="hidden" name="id" value="{{.Event.Id}}" />
        {{if and (.Event.UserResponse) (gt .Event.UserResponse.AttendeeCount 0)}}
        <input type="hidden" name="attendeeCount" value="0" />
        <div role="group">
            <button 
                class="outline"
                hx-post="/event/respond"
                hx-target="body"
                hx-confirm="Are you sure you aren't going?"
            >
                Nope
            </button>
            <button class="no">Going</button>
        </div>
        {{else}}
        <input type="hidden" name="attendeeCount" value="1" />
        <div role="group">
            <button class="no">Nope</button>
            <button 
                class="outline"
                hx-post="/event/respond"
                hx-target="body"
            >
                Going
            </button>
        </div>
        {{end}}
    </form>

    {{/* PLUS ONE LOGIC */}}
    <form>
        <input type="hidden" name="id" value="{{.Event.Id}}" />
        {{if .Event.UserResponse}}
            {{if eq .Event.UserResponse.AttendeeCount 1}}
            <input type="hidden" name="attendeeCount" value="2" />
            <button 
                class="outline"
                hx-post="/event/respond"
                hx-target="body"
            >
                +1
            </button>
            {{else if eq .Event.UserResponse.AttendeeCount 2}}
            <input type="hidden" name="attendeeCount" value="1" />
            <button
                hx-post="/event/respond"
                hx-target="body"
                hx-confirm="Are you sure you want to remove your plus one?"
            >
                +1
            </button>
            {{else}}
                {{/* dont show */}}
            {{end}}
        {{end}}
    </form>
</div>
{{if and (not .Event.UserResponse) (le .Event.SpotsLeft 0)}}
<small>You will be added to the waitlist if you mark going when capacity is full.</small>
{{end}}
{{end}}
