{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    {{with .Event}}
    <section
        class="event_details"
        x-data="{ start: dayjs('{{.Event.Start}}').format('ddd, MMM DD h:mm A') }"
    >
        <h3>{{.Name}}</h3>

        <article>
            <div x-text="start"></div>
            <div>{{.Location}}</div>
            <div class="register">
                <div>{{.SpotsLeft}} spots left</div>

                <form>
                    <input type="hidden" name="id" value="{{.Id}}" />
                    {{if .EventResponse.Going}} 
                    <input type="hidden" name="going" value="false" />
                    {{else}}
                    <input type="hidden" name="going" value="true" />
                    {{end}}

                    <button 
                        id="event_details_register"
                        class="outline"
                        hx-post="/event/respond"
                        hx-target="body"
                        hx-push-url="true"
                        {{if and (le .SpotsLeft 0) (not .EventResponse.Going)}}disabled{{end}}
                    >
                        {{if .EventResponse.Going}} 
                        Unregister 
                        {{else}}
                        Register
                        {{end}}
                    </button>
                </form>
            </div>
        </article>
    </section>
    <section class="event_attendees">
        <h5>Attendees ({{len .EventResponses}})</h5>

        {{if gt (len .EventResponses) (0)}}
        <article>
            <table>
            {{range .EventResponses}}
                <tr><td>{{.User.FullName}}</td></tr>
            {{end}}
            </table>
        </article>
        {{end}}
    </section>
    {{end}}
</main>
{{end}}
