{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    <div id="error"></div>

    <h3>New Event</h3>

    <article>
        <form 
            action="/event/new"
            method="post"
            hx-vals="js:{timezoneOffset: new Date().getTimezoneOffset()}"
        >
            <label>
                Name
                <input type="text" required name="name" />
            </label>
            {{if .User.CanModifyGroup}}
            <label>
                Group
                <select name="groupId">
                    <option value="">None</option>
                    {{range .Groups}} 
                    <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                </select>
                <small>Choose a group the event should only be available to. "None" will make it publicly available.</small>
            </label>
            {{end}}
            <label>
                Capacity 
                <input type="number" required name="capacity" min=0 max=100 />
            </label>
            <label>
                Start time
                <input type="datetime-local" required name="start" step="1800" />
            </label>
            <label>
                Location
                <input type="text" required name="location" />
            </label>
            <button type="submit">Submit</button>
        </form>
    </article>
</main>
{{end}}
