{{define "body"}}
<h3>
    New Event
</h3>
<form 
    hx-post="/event"
    hx-push-url="true"
    hx-target="body"
    hx-vals="js:{timezoneOffset: new Date().getTimezoneOffset()}"
>
    <label>
        Name
        <input type="text" required name="name" />
    </label>
    <label>
        Limit
        <input type="number" required name="limit" />
    </label>
    <label>
        Start time
        <input type="datetime-local" required name="start" />
    </label>
    <label>
        Location
        <input type="text" required name="location" />
    </label>
    <button type="submit">Submit</button>
</form>
{{end}}
