@use "sass:map";
@use "@picocss/pico/scss" as * with (
    $enable-semantic-container: false
);
@use "@picocss/pico/scss/settings" as *;

:root {
    #{$css-var-prefix}form-element-spacing-vertical: .375rem;
    #{$css-var-prefix}form-element-spacing-horizontal: .75rem;

    #{$css-var-prefix}line-height: normal;
}

main {
    max-width: map.get(map.get($breakpoints, "md"), "viewport");

    &.sm{
        max-width: map.get(map.get($breakpoints, "sm"), "viewport");
    }
}

header{
    max-width: map.get(map.get($breakpoints, "lg"), "viewport");
}

.event {
    margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);
}

.event_details {
    .register {
        margin-top: var(#{$css-var-prefix}block-spacing-vertical);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.event_attendees {
    table {
        margin-bottom: 0;
    }

    tbody > tr:last-child > td {
      border-bottom: 0;
    }
}

a.nostyle {
    &:link,
    &:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }
}

.event {
    display: flex;
    align-items: center;

    .left {
        flex: 1 1 0%;
    }
}
