{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    <div id="error"></div>

    <h3>Edit Group</h3>

    <section>
        <article>
            <form 
                action="/group/{{.Group.Id}}/edit"
                method="post"
            >
                <label>
                    Name
                    <input type="text" required name="name" value="{{.Group.Name}}" />
                </label>
                <button type="submit">Update</button>
            </form>
        </article>
    </section>
    <section class="controls">
        <div
            hx-confirm="Are you sure you want to refresh the invite link?"
            hx-post="/group/{{.Group.Id}}/invite"
            hx-target="body"
        >
           Refresh invite link 
        </div>
        <div
            class="delete"
            hx-push-url="true"
            hx-target="body"
            hx-confirm="Are you sure you want to delete this group?"
            hx-delete="/group/{{.Group.Id}}/edit"
        >
            Delete
        </div>
    </section>
</main>
{{end}}
