{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    <div id="error"></div>

    <h3>Edit Group</h3>

    <section>
        <article>
            <form 
                hx-put="/group/{{.Group.Id}}"
                hx-push-url="true"
                hx-target="body"
            >
                <label>
                    Name
                    <input type="text" required name="name" value="{{.Group.Name}}" />
                </label>
                <button type="submit">Update</button>
            </form>
        </article>
    </section>
    <span
        class="delete"
        hx-push-url="true"
        hx-target="body"
        hx-confirm="Are you sure you want to delete this group?"
        hx-delete="/group/{{.Group.Id}}"
    >
        Delete
    </span>
</main>
{{end}}
