{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    <div id="error"></div>

    <div class="page_header">
        <h3>All Groups</h3>
        <div class="buttons">
            <a href="/group/new" role="button">New Group</a>
        </div>
    </div>

    {{if gt (len .Groups) (0)}}
    <section class="card-list">
        {{range .Groups}}
        <div class="card-list-item center">
            <div class="flex-1">
                <div><strong>{{.Name}}</strong></div>
                <div>
                    <small>{{.TotalMemberCount}} members</small>
                </div>
            </div>
            <a href="/group/{{.Id}}">View</a>
        </div>
        {{end}}
    </section>
    {{else}}
    <div>No Groups</div>
    {{end}}
</main>

{{end}}
