{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clay Play</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="/public/index.js"></script>
    <link rel="stylesheet" href="/public/index.css">
    <link rel="icon" type="image/png" href="/public/favicon.png" />
</head>
<body hx-boost="true">
    {{ template "body" . }}

    <div class="spacer"></div>
    <footer>
        <small>
            <nav>
                <ul>
                    <li>© 2024 Heather McQueen</li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="https://github.com/Chaldron/clay-play" hx-boost="false">Github</a></li>
                </ul>
            </nav>
        </small>
    </footer>
</body>
</html>
{{end}}
