{{define "header"}}
<header class="container-fluid">
    <nav>
        <ul>
            <li><strong>jvbe</strong></li>
        </ul>
        <ul>
            <li><a href="/home">Home</a></li>
            {{if .User.CanModifyGroup}}
            <li><a href="/group/list">Groups</a></li>
            {{end}}
            {{if .User.IsAuthenticated}}
            <li><a href="/auth/logout" hx-boost="false">Logout</a></li>
            {{end}}
        </ul>
    </nav>
    {{if .User.IsAuthenticated}}
    <h4>Hello {{.User.FirstName}}!</h4>
    {{end}}
</header>
{{end}}
