{{define "header"}}
<header class="container-fluid">
    <nav>
        <ul>
            <li>
                <a href="/home">
                    <img class="logo" src="/public/logo.png" />
                </a>
            </li>
        </ul>
        <ul>
            {{if .User.CanDoEverything}}
            <li><a href="/admin">Admin</a></li>
            {{end}}
            {{if .User.IsAuthenticated}}
            <li><a href="/auth/logout" hx-boost="false">Logout</a></li>
            {{end}}
        </ul>
    </nav>
</header>
{{end}}
