{{define "body"}}

{{template "header" .}}

<main class="container-fluid">
    <div id="error"></div>

    <h3>Upcoming Events</h3>
    <div>
    {{range .CurrEvents}}
        {{block "event" .}}
        <div
            class="event" 
            x-data="{ start: formatTime('{{jsTime .Start}}') }"
        >
            <div class="flex-1">
                <div><strong>{{.Name}}</strong></div>
                <div>
                    <small>
                        <span x-text="start"></span> · {{.SpotsLeft}} spots left
                    </small>
                </div>
            </div>
            <a href="/event/{{.Id}}">View</a>
        </div>
        {{end}}
    {{end}}
    </div>
</main>
{{end}}
